.orders-container {
    background-color: var(--light-color);
  }
  
  .orders-container h3 {
    margin: 0;
  }
  
  .orders-steps-container {
    display: flex;
    justify-content: center;
    background-color: #FFF;
    margin-bottom: 30px;
  }
  
  .orders-steps-content {
    display: flex;
    padding: 25px 0;
    width: 70%;
  }